
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
      ¿Sabía que puede navegar por las páginas del archivo deslizando hacia la izquierda y hacia la derecha?
    {% elsif page.section-type == "post" %}
      ¿Sabías que puedes navegar las publicaciones deslizando a la izquierda y la derecha?
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        ¡Lo tengo!
      {% elsif page.section-type == "post" %}
        ¡Increíble!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
